# required modules
# use pip install -r requirements.txt to install all the required modules

yfinance
pandas
datetime
requests
typing
binance-connector
ccxt
matplotlib
numpy
importlib
tqdm
scikit-learn
ta-lib